In [28]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
shopee_df = pd.read_csv('order_brush_order.csv')

In [136]:
shopee_df['shopid'].unique()

array([ 93950878, 156423439, 173699291, ...,  50236030, 203587596,
       147118226])

In [132]:
thing2.to_csv('shopee_submissions23.csv', index=False)

In [10]:
len(shopee_df)

222750

In [25]:
less_3_df = shopee_df.groupby(['shopid']).filter(lambda x: len(x) <3)

In [27]:
less_3_df.groupby(['shopid']).count()

           orderid  userid  event_time
shopid
10009            1       1           1
10051            2       2           2
10107            1       1           1
10108            2       2           2
10110            2       2           2
...            ...     ...         ...
214662358        1       1           1
214949521        2       2           2
214964814        1       1           1
215175775        2       2           2
215435223        1       1           1

[9739 rows x 3 columns]

In [123]:
less_3_df.to_csv('shopee_submissions.csv', index=False)

In [106]:
more_3_df = shopee_df.groupby(['shopid']).filter(lambda x: len(x)>=3)

In [107]:
more_3_df.groupby(['shopid']).count()

           orderid  userid  event_time
shopid
10061            4       4           4
10084           55      55          55
10100           42      42          42
10132           10      10          10
10133           12      12          12
...            ...     ...         ...
213532450        6       6           6
213675545        3       3           3
213784505       11      11          11
213900783        7       7           7
214432425        4       4           4

[9031 rows x 3 columns]

In [116]:
more_3_df = more_3_df.set_index(more_3_df['event_time'])
more_3_df.index = pd.to_datetime(more_3_df.index)

In [125]:
more_3_df.to_csv('shopee_submissions2.csv', index=False)

In [114]:
more_3_df_gp = more_3_df.groupby(['shopid'])

Using Mervyn's approach:

In [117]:
more_3_df_grouped_merv = more_3_df.groupby(["shopid", "userid"]).rolling('H').userid.count()

In [135]:
more_3_df_grouped_merv.to_csv('shopee_submissions222.csv', index=False)

In [101]:
more_3_df.head()

                            orderid     shopid     userid           event_time
event_time
2019-12-27 00:23:03  31076582227611   93950878   30530270  2019-12-27 00:23:03
2019-12-27 11:54:20  31118059853484  156423439   46057927  2019-12-27 11:54:20
2019-12-27 13:22:35  31123355095755  173699291   67341739  2019-12-27 13:22:35
2019-12-27 13:01:00  31122059872723   63674025  149380322  2019-12-27 13:01:00
2019-12-27 11:37:55  31117075665123  127249066  149493217  2019-12-27 11:37:55
...                             ...        ...        ...                  ...
2019-12-28 11:58:27  31204707441776  206464158   89254393  2019-12-28 11:58:27
2019-12-28 23:51:32  31247492064152  145237735  168929906  2019-12-28 23:51:32
2019-12-28 00:56:18  31164978150266  193457154  212237389  2019-12-28 00:56:18
2019-12-28 14:15:01  31212901198690   52934787  171121715  2019-12-28 14:15:01
2019-12-28 13:57:14  31211834479397  140625672  198406733  2019-12-28 13:57:14

[41217 rows x 4 columns]

In [121]:
rolling_more_than_3_df = []
for x, y in more_3_df_gp:
#     print(x)
    if (more_3_df.query('shopid == "x"').rolling('H').userid.count() >= 3).any():
        rolling_more_than_3_df.append[x]

In [124]:
rolling_more_than_3_df

[]

In [112]:
shop_example = more_3_df.query('shopid == 10084')
shop_example

                            orderid  shopid     userid           event_time
event_time
2019-12-31 07:04:42  31446282541417   10084  123715078  2019-12-31 07:04:42
2019-12-30 12:02:33  31377753982301   10084  184840040  2019-12-30 12:02:33
2019-12-29 04:52:23  31265542731780   10084    6488128  2019-12-29 04:52:23
2019-12-27 01:14:49  31079688206563   10084   73993513  2019-12-27 01:14:49
2019-12-30 13:07:00  31381620072348   10084   33285757  2019-12-30 13:07:00
2019-12-29 16:35:23  31307723772711   10084  151363170  2019-12-29 16:35:23
2019-12-27 13:27:21  31123641739732   10084    8457753  2019-12-27 13:27:21
2019-12-28 16:31:17  31221077595538   10084   90239949  2019-12-28 16:31:17
2019-12-28 22:34:49  31242888812765   10084  180772892  2019-12-28 22:34:49
2019-12-28 11:16:06  31202166748395   10084   13999404  2019-12-28 11:16:06
2019-12-28 09:50:06  31197005306352   10084   16021925  2019-12-28 09:50:06
2019-12-30 11:40:07  31376407719737   10084  156270912  2019-12-30 11:40:07
2019-12-28 00:14:48  31162488073822   10084   18193868  2019-12-28 00:14:48
2019-12-28 22:51:43  31243902819871   10084   57738503  2019-12-28 22:51:43
2019-12-27 13:08:10  31122489886365   10084  102616150  2019-12-27 13:08:10
2019-12-31 16:23:57  31479836182588   10084   14062776  2019-12-31 16:23:57
2019-12-31 12:22:18  31465337500830   10084  185802312  2019-12-31 12:22:18
2019-12-30 12:10:48  31378248750240   10084   68444473  2019-12-30 12:10:48
2019-12-31 20:43:31  31495411060178   10084  185601856  2019-12-31 20:43:31
2019-12-29 22:32:12  31329132614084   10084   88321715  2019-12-29 22:32:12
2019-12-28 10:28:28  31199308735628   10084  143378048  2019-12-28 10:28:28
2019-12-30 17:49:03  31398543663828   10084  181195859  2019-12-30 17:49:03
2019-12-27 20:06:33  31147592882260   10084   81373632  2019-12-27 20:06:33
2019-12-27 01:03:44  31079024994425   10084   39828049  2019-12-27 01:03:44
2019-12-28 18:21:36  31227696956138   10084   91048722  2019-12-28 18:21:36
2019-12-28 23:53:16  31247595978742   10084  177954889  2019-12-28 23:53:16
2019-12-28 13:51:31  31211491022295   10084   77184045  2019-12-28 13:51:31
2019-12-30 21:14:03  31410842885758   10084  136264815  2019-12-30 21:14:03
2019-12-28 23:14:34  31245274318631   10084    8838142  2019-12-28 23:14:34
2019-12-28 16:29:28  31220968762880   10084   77391117  2019-12-28 16:29:28
2019-12-27 13:16:34  31122994584099   10084  162847440  2019-12-27 13:16:34
2019-12-31 10:43:15  31459395207210   10084   57956057  2019-12-31 10:43:15
2019-12-30 00:42:49  31336969603755   10084   93206344  2019-12-30 00:42:49
2019-12-29 01:08:05  31252085998920   10084  151362536  2019-12-29 01:08:05
2019-12-28 21:55:12  31240511163713   10084  167932181  2019-12-28 21:55:12
2019-12-30 02:34:13  31343652443964   10084  129074211  2019-12-30 02:34:13
2019-12-30 17:16:33  31396593348413   10084   22105044  2019-12-30 17:16:33
2019-12-29 12:00:51  31291250233200   10084  121615825  2019-12-29 12:00:51
2019-12-27 23:28:12  31159691106163   10084  115025463  2019-12-27 23:28:12
2019-12-30 22:10:23  31414223469872   10084   86491592  2019-12-30 22:10:23
2019-12-27 00:08:06  31075686185309   10084    4401933  2019-12-27 00:08:06
2019-12-29 22:07:56  31327675031022   10084  115450459  2019-12-29 22:07:56
2019-12-30 23:28:42  31418922063977   10084   27099291  2019-12-30 23:28:42
2019-12-28 11:16:46  31202205261439   10084   23352983  2019-12-28 11:16:46
2019-12-27 00:32:36  31077155357404   10084   13837190  2019-12-27 00:32:36
2019-12-27 16:25:54  31134354630457   10084   96570515  2019-12-27 16:25:54
2019-12-29 21:53:09  31326789398765   10084  132259411  2019-12-29 21:53:09
2019-12-28 22:29:57  31242597715742   10084  180772892  2019-12-28 22:29:57
2019-12-29 15:09:01  31302540656121   10084    1668819  2019-12-29 15:09:01
2019-12-27 21:21:58  31152118785559   10084   12840239  2019-12-27 21:21:58
2019-12-27 07:46:18  31103178638264   10084   80643747  2019-12-27 07:46:18
2019-12-29 23:54:23  31334062758375   10084   51586322  2019-12-29 23:54:23
2019-12-27 19:19:05  31144745245972   10084   99322339  2019-12-27 19:19:05
2019-12-27 09:19:26  31108766989338   10084   11753447  2019-12-27 09:19:26
2019-12-28 17:17:50  31223869819570   10084     996734  2019-12-28 17:17:50

In [61]:
shop_example = shop_example.set_index(shop_example['event_time'])
shop_example.index = pd.to_datetime(shop_example.index)

In [85]:
(shop_example.rolling('H').userid.count() >= 3).any()

True

In [84]:
shop_example.rolling('H').userid.count()

event_time
2019-12-27 00:08:06    1.0
2019-12-27 00:32:36    2.0
2019-12-27 01:03:44    3.0
2019-12-27 01:14:49    3.0
2019-12-27 07:46:18    1.0
2019-12-27 09:19:26    1.0
2019-12-27 13:08:10    1.0
2019-12-27 13:16:34    2.0
2019-12-27 13:27:21    3.0
2019-12-27 16:25:54    1.0
2019-12-27 19:19:05    1.0
2019-12-27 20:06:33    2.0
2019-12-27 21:21:58    1.0
2019-12-27 23:28:12    1.0
2019-12-28 00:14:48    2.0
2019-12-28 09:50:06    1.0
2019-12-28 10:28:28    2.0
2019-12-28 11:16:06    2.0
2019-12-28 11:16:46    3.0
2019-12-28 13:51:31    1.0
2019-12-28 16:29:28    1.0
2019-12-28 16:31:17    2.0
2019-12-28 17:17:50    3.0
2019-12-28 18:21:36    1.0
2019-12-28 21:55:12    1.0
2019-12-28 22:29:57    2.0
2019-12-28 22:34:49    3.0
2019-12-28 22:51:43    4.0
2019-12-28 23:14:34    4.0
2019-12-28 23:53:16    2.0
2019-12-29 01:08:05    1.0
2019-12-29 04:52:23    1.0
2019-12-29 12:00:51    1.0
2019-12-29 15:09:01    1.0
2019-12-29 16:35:23    1.0
2019-12-29 21:53:09    1.0
2019-12-29 22:07:56    2.0
2019-12-29 22:32:12    3.0
2019-12-29 23:54:23    1.0
2019-12-30 00:42:49    2.0
2019-12-30 02:34:13    1.0
2019-12-30 11:40:07    1.0
2019-12-30 12:02:33    2.0
2019-12-30 12:10:48    3.0
2019-12-30 13:07:00    2.0
2019-12-30 17:16:33    1.0
2019-12-30 17:49:03    2.0
2019-12-30 21:14:03    1.0
2019-12-30 22:10:23    2.0
2019-12-30 23:28:42    1.0
2019-12-31 07:04:42    1.0
2019-12-31 10:43:15    1.0
2019-12-31 12:22:18    1.0
2019-12-31 16:23:57    1.0
2019-12-31 20:43:31    1.0
Name: userid, dtype: float64

In [63]:
shop_example

                            orderid  shopid     userid           event_time
event_time
2019-12-27 00:08:06  31075686185309   10084    4401933  2019-12-27 00:08:06
2019-12-27 00:32:36  31077155357404   10084   13837190  2019-12-27 00:32:36
2019-12-27 01:03:44  31079024994425   10084   39828049  2019-12-27 01:03:44
2019-12-27 01:14:49  31079688206563   10084   73993513  2019-12-27 01:14:49
2019-12-27 07:46:18  31103178638264   10084   80643747  2019-12-27 07:46:18
2019-12-27 09:19:26  31108766989338   10084   11753447  2019-12-27 09:19:26
2019-12-27 13:08:10  31122489886365   10084  102616150  2019-12-27 13:08:10
2019-12-27 13:16:34  31122994584099   10084  162847440  2019-12-27 13:16:34
2019-12-27 13:27:21  31123641739732   10084    8457753  2019-12-27 13:27:21
2019-12-27 16:25:54  31134354630457   10084   96570515  2019-12-27 16:25:54
2019-12-27 19:19:05  31144745245972   10084   99322339  2019-12-27 19:19:05
2019-12-27 20:06:33  31147592882260   10084   81373632  2019-12-27 20:06:33
2019-12-27 21:21:58  31152118785559   10084   12840239  2019-12-27 21:21:58
2019-12-27 23:28:12  31159691106163   10084  115025463  2019-12-27 23:28:12
2019-12-28 00:14:48  31162488073822   10084   18193868  2019-12-28 00:14:48
2019-12-28 09:50:06  31197005306352   10084   16021925  2019-12-28 09:50:06
2019-12-28 10:28:28  31199308735628   10084  143378048  2019-12-28 10:28:28
2019-12-28 11:16:06  31202166748395   10084   13999404  2019-12-28 11:16:06
2019-12-28 11:16:46  31202205261439   10084   23352983  2019-12-28 11:16:46
2019-12-28 13:51:31  31211491022295   10084   77184045  2019-12-28 13:51:31
2019-12-28 16:29:28  31220968762880   10084   77391117  2019-12-28 16:29:28
2019-12-28 16:31:17  31221077595538   10084   90239949  2019-12-28 16:31:17
2019-12-28 17:17:50  31223869819570   10084     996734  2019-12-28 17:17:50
2019-12-28 18:21:36  31227696956138   10084   91048722  2019-12-28 18:21:36
2019-12-28 21:55:12  31240511163713   10084  167932181  2019-12-28 21:55:12
2019-12-28 22:29:57  31242597715742   10084  180772892  2019-12-28 22:29:57
2019-12-28 22:34:49  31242888812765   10084  180772892  2019-12-28 22:34:49
2019-12-28 22:51:43  31243902819871   10084   57738503  2019-12-28 22:51:43
2019-12-28 23:14:34  31245274318631   10084    8838142  2019-12-28 23:14:34
2019-12-28 23:53:16  31247595978742   10084  177954889  2019-12-28 23:53:16
2019-12-29 01:08:05  31252085998920   10084  151362536  2019-12-29 01:08:05
2019-12-29 04:52:23  31265542731780   10084    6488128  2019-12-29 04:52:23
2019-12-29 12:00:51  31291250233200   10084  121615825  2019-12-29 12:00:51
2019-12-29 15:09:01  31302540656121   10084    1668819  2019-12-29 15:09:01
2019-12-29 16:35:23  31307723772711   10084  151363170  2019-12-29 16:35:23
2019-12-29 21:53:09  31326789398765   10084  132259411  2019-12-29 21:53:09
2019-12-29 22:07:56  31327675031022   10084  115450459  2019-12-29 22:07:56
2019-12-29 22:32:12  31329132614084   10084   88321715  2019-12-29 22:32:12
2019-12-29 23:54:23  31334062758375   10084   51586322  2019-12-29 23:54:23
2019-12-30 00:42:49  31336969603755   10084   93206344  2019-12-30 00:42:49
2019-12-30 02:34:13  31343652443964   10084  129074211  2019-12-30 02:34:13
2019-12-30 11:40:07  31376407719737   10084  156270912  2019-12-30 11:40:07
2019-12-30 12:02:33  31377753982301   10084  184840040  2019-12-30 12:02:33
2019-12-30 12:10:48  31378248750240   10084   68444473  2019-12-30 12:10:48
2019-12-30 13:07:00  31381620072348   10084   33285757  2019-12-30 13:07:00
2019-12-30 17:16:33  31396593348413   10084   22105044  2019-12-30 17:16:33
2019-12-30 17:49:03  31398543663828   10084  181195859  2019-12-30 17:49:03
2019-12-30 21:14:03  31410842885758   10084  136264815  2019-12-30 21:14:03
2019-12-30 22:10:23  31414223469872   10084   86491592  2019-12-30 22:10:23
2019-12-30 23:28:42  31418922063977   10084   27099291  2019-12-30 23:28:42
2019-12-31 07:04:42  31446282541417   10084  123715078  2019-12-31 07:04:42
2019-12-31 10:43:15  31459395207210   10084   57956057  2019-12-31 10:43:15
2019-12-31 12:22:18  31465337500830   10084  185802312  2019-12-31 12:22:18
2019-12-31 16:23:57  31479836182588   10084   14062776  2019-12-31 16:23:57
2019-12-31 20:43:31  31495411060178   10084  185601856  2019-12-31 20:43:31