In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv("order_brush_order.csv")

In [3]:
len(df['shopid'].unique())

18770

In [4]:
len(df)

222750

Shop 145777302 had 9 orders placed within 1 hour from [2019-12-28 12:07:49]. These 9 particular orders were placed by three users, user 201343856, user 107406 and user 101582282.

Calculating concentrate rate for shop

Concentrate rate for shop 145777302
= 9 orders / 3 users
= 3

Shop 145777302 is deemed to have conducted order brushing, when we consider the concentrate rate between event time [2019-12-28 12:07:49] to [2019-12-28 13:07:49].

In [5]:
df["shop_user"] = df["shopid"].astype(str) + "-" + df["userid"].astype(str)

In [6]:
df.head(5)

,orderid,shopid,userid,event_time,shop_user
0,31076582227611,93950878,30530270,2019-12-27 00:23:03,93950878-30530270
1,31118059853484,156423439,46057927,2019-12-27 11:54:20,156423439-46057927
2,31123355095755,173699291,67341739,2019-12-27 13:22:35,173699291-67341739
3,31122059872723,63674025,149380322,2019-12-27 13:01:00,63674025-149380322
4,31117075665123,127249066,149493217,2019-12-27 11:37:55,127249066-149493217

In [7]:
df['shop_user'].nunique()

205003

In [8]:
df['shop_user'].count()

222750

In [9]:
df.shop_user.value_counts()

147941492-208806468    31
147941492-3142265      26
156883302-136087303    25
16001939-205729485     23
68609828-183440131     22
                       ..
229055-1300599          1
187090764-213630603     1
35582959-195023856      1
1011192-37141828        1
183068-133169863        1
Name: shop_user, Length: 205003, dtype: int64

In [10]:
type(df.event_time)

pandas.core.series.Series

In [11]:
df['year'] = pd.DatetimeIndex(df['event_time']).year

In [12]:
df['month'] = pd.DatetimeIndex(df['event_time']).month
df['day'] = pd.DatetimeIndex(df['event_time']).day

In [13]:
df.head(5)

,orderid,shopid,userid,event_time,shop_user,year,month,day
0,31076582227611,93950878,30530270,2019-12-27 00:23:03,93950878-30530270,2019,12,27
1,31118059853484,156423439,46057927,2019-12-27 11:54:20,156423439-46057927,2019,12,27
2,31123355095755,173699291,67341739,2019-12-27 13:22:35,173699291-67341739,2019,12,27
3,31122059872723,63674025,149380322,2019-12-27 13:01:00,63674025-149380322,2019,12,27
4,31117075665123,127249066,149493217,2019-12-27 11:37:55,127249066-149493217,2019,12,27

In [14]:
df['hour'] = pd.DatetimeIndex(df['event_time']).hour

In [15]:
df.head(5)

,orderid,shopid,userid,event_time,shop_user,year,month,day,hour
0,31076582227611,93950878,30530270,2019-12-27 00:23:03,93950878-30530270,2019,12,27,0
1,31118059853484,156423439,46057927,2019-12-27 11:54:20,156423439-46057927,2019,12,27,11
2,31123355095755,173699291,67341739,2019-12-27 13:22:35,173699291-67341739,2019,12,27,13
3,31122059872723,63674025,149380322,2019-12-27 13:01:00,63674025-149380322,2019,12,27,13
4,31117075665123,127249066,149493217,2019-12-27 11:37:55,127249066-149493217,2019,12,27,11

In [16]:
#Count no of records